@using DrSneussFactory.Models;
@model DrSneussFactory.Models.Machine;

@if (Model.Engineers.Count == 0)
{
  <p>There are no engineers licensed to repair this machine.</p>
}
@foreach (var join in Model.Engineers)
{
  <div>
    @using (Html.BeginForm("RemoveEngineer", "Machines", new {EngineerId = Model.Engineer.EngineerId, MachineId = Model.Machine.MachineId }))
    {
      @Html.ActionLink($"{join.Engineer.Name}", "Details", "Engineers", new { id = join.Engineer.EngineerId })
      <button type="submit" class="btn btn-danger mr-3">Remove</button>
    }
  </div>
}