@using DrSneussFactory.Models;
@model DrSneussFactory.Models.Machine;

<section class="card mb-3">
  <div class="card-header">
    <div class="cardListName">Machine: @Html.ActionLink($"{Model.Name}", "Details", "Machines", new { id = Model.MachineId })</div>
    <div class="cardListButton">
      @using (Html.BeginForm("Delete", "Machines", new {id = Model.MachineId}))
      {
        <button type="submit" class="btn btn-danger">Remove Machine</button>
      }
    </div>
    <div class="cardListButton">
      @using (Html.BeginForm("Edit", "Machines", new {id = Model.MachineId}, FormMethod.Get))
      {
        <button type="submit" class="btn btn-warning mr-3">Edit Machine</button>
      }
    </div>
  </div>
  <div class="card-body">
    <div class="card-text">
      <h5 class="card-title">Engineers qualified to repair this machine:</h5>
      @Html.Partial("EngineerList", Model)
    </div>
    @using (Html.BeginForm("AddEngineer", "Machines", new {id = Model.MachineId}, FormMethod.Get))
    {
      <button type="submit" class="btn btn-success mr-3">Add Licensed Engineer</button>
    }
  </div>
</section>