@{
  Layout = "_Layout";
}

@model DrSneussFactory.Models.Engineer

<section class="card mb-3">
  <div class="card-header">
    <div class="cardListName">Add Licensed Machine for this Engineer: @Html.DisplayFor(model => model.Name)</div>
  </div>
  <div class="card-body">
    <div class="card-text">
      @using (Html.BeginForm())
      {
        @Html.HiddenFor(model => model.EngineerId)

        @Html.Label("Select Machine")
        @Html.DropDownList("MachineId")

        <input type="submit" value="Save" />
      }
    </div>
  </div>
</section>