@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<section class="card mb-3">
  <div class="card-header">
    <div class="cardListName">Add Licensed Machine for this Engineer: @Html.DisplayFor(model => model.Name)</div>
  </div>
  <div class="card-body">
    <div class="card-text">
      @using (Html.BeginForm())
      {
        @Html.HiddenFor(model => model.EngineerId)

        @Html.Label("Select Machine")
        @Html.DropDownList("MachineId", (IEnumerable<SelectListItem>)ViewBag.MachineId, new { @class = "form-control" })

        <input type="submit" value="Save" class="btn btn-primary mt-3"/>
      }
    </div>
  </div>
</section>